$primary-blue: #0095C6;
$primary-blue-dark: #016C8F;
$primary-blue-light: rgb(167, 220, 238);

$primary-orange: #CD5C3C;

$primary-text: #3C3C3C;

$white: #fafafa;
$off-white: #f0f0f0;
$off-white2: #eee;
$mid-grey: #aaa;